@charset "utf-8";

h1 strong {
    display: block;
    padding: 10px 15px;
}

.funding_list {
    padding-left: 40px;

}

.funding_list h3 {
    display: block;
    padding: 10px 10px;
}

.funding_list img {
    width: 20%;
    height: 10%;
}
