@charset "utf-8";

.slide_div img{
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.slide_div_wrap{
    padding: 15px 0;
    background: #e6e9f6;
}
