@charset "UTF-8";

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.section {
    /* 이친구가 부모라는사실을 잊지말아요~ */
    display: flex;
    /*
        display: inline으로 작성하면 Default값 외에 아무것도 반영되어지지 않아유ㅠ
    */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.UserJoin {
    width: 410px;
    height: 675px;
    padding: 40px 60px;
    margin: 0 auto;
    /* 기본으로 잡히는 margin값이 있음! */
    background-color: #f0f4f5;
}

.join__title {
    margin-bottom: 26px;
}

.join__set {
    display: inline-block;
    width: 410px;
    height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}

.join__input__ID , .join__input__PWD, .join__input__nickName, .join__rechk__PWD {
    width: 410px;
    height: 47px;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #313030;
}

.join__sub {
    border-radius: 10px;
    padding-left: 23px;
}

.join__sub > input{
    width: 360px;
    height: 60px;
    padding: 16px 20px;
    font-size: 28px;
    color: #f9fbe7;
    border: 0;
    border-radius: 7px;
    background-color: cornflowerblue;
}